SERVER_IMAGE=ghcr.io/seu-usuario/khomp-pabx-server:1.0.0
INGEST_IMAGE=ghcr.io/seu-usuario/khomp-pabx-ingest:1.0.0
WEB_IMAGE=ghcr.io/seu-usuario/khomp-pabx-web:1.0.0

BETTER_AUTH_SECRET=troque-por-uma-chave-com-pelo-menos-32-caracteres
BETTER_AUTH_URL=http://192.168.1.50:3000
CORS_ORIGIN=http://192.168.1.50:3001
FRONTEND_URL=http://192.168.1.50:3001
VITE_SERVER_URL=http://192.168.1.50:3000
VITE_ASTERISK_WS_URL=ws://192.168.1.50:8088/ws
VITE_ASTERISK_SIP_DOMAIN=192.168.1.50
VITE_MQTT_PUBLIC_URL=mqtt://192.168.1.50:1883

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/stack-pbx
MQTT_BROKER_HOST=127.0.0.1
MQTT_BROKER_PORT=1883
MQTT_PUBLIC_URL=mqtt://192.168.1.50:1883
MQTT_BROKER_USE_TLS=false
MQTT_BROKER_USERNAME=stack-pbx
MQTT_BROKER_PASSWORD=change-me-mqtt

ASTERISK_AUTO_PROVISION=true
ASTERISK_AMI_HOST=127.0.0.1
ASTERISK_AMI_PORT=5038
ASTERISK_AMI_USERNAME=admin
ASTERISK_AMI_PASSWORD=admin123
ASTERISK_DEVICE_HOST=192.168.1.50
ASTERISK_DEVICE_SIP_PORT=5060
ASTERISK_DIALPLAN_CONTEXT_PREFIX=pbx
ASTERISK_PJSIP_TRANSPORT=transport-udp
ASTERISK_GENERATED_PJSIP_DIR=
ASTERISK_GENERATED_EXTENSIONS_DIR=

DOCKER_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/stack-pbx
DOCKER_MQTT_BROKER_HOST=emqx
DOCKER_ASTERISK_AMI_HOST=asterisk
DOCKER_ASTERISK_GENERATED_PJSIP_DIR=/app/infra/asterisk/generated/pjsip/devices
DOCKER_ASTERISK_GENERATED_EXTENSIONS_DIR=/app/infra/asterisk/generated/extensions/groups
